# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

myenv/
venv/
.env/

chroma_db/
